apiVersion: v1
kind: Service
metadata:
  name: bankapp-service
spec:
  type: NodePort
  selector:
    app: bankapp
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30007
